<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>linkLetterAndNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F533651E2035DB5500927F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F53365322035DB5600927F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F533653D2035DB5600927F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
